@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.navcolour{
 background-color: #000 !important;
}
.navbar{
  font-size:x-large;
  font-weight: bold;
  
}


.home-page {
  height: 90vh;

  background-size: cover;

  background-image: linear-gradient(45deg, #000000, rgba(0, 0, 0, 0.58)),
    url("https://media.istockphoto.com/photos/team-of-medical-research-scientists-work-on-a-new-generation-disease-picture-id827581056?k=20&m=827581056&s=612x612&w=0&h=ZA7A1Hv9m8NBt3sW1ZsBOjoPLNNLhel0a9C5uFbYSPY=");
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home-page .home-div p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #3e64ff;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.home-page .home-div h1 {
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.home-page .home-div h2 {
  font-weight: 500;
}


.signup-content,
.signin-content {
  display: flex;
  display: -webkit-flex;
  
}

img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(5px 0px 3px rgba(0, 0, 0, 0.05));
}

.signin-image img {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.05));
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}

.main {
  height: 100vh;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*  */

body {
  font-size: 16px;
  line-height: 1.8;
  color: #222;
  background: #e7e5e5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.container1 {
  width: 800px;
  background: #fff;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}


.signup {
  height: 85vh;
  display: grid;
  place-items: center;
}

.signup-content {
  padding: 75px 0;
  
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;

}

.signup-image {
  margin: 0 55px;
}

.form-title {
  margin-bottom: 33px;
  font-weight: bold;
}

.signup-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 57px;
  margin-bottom: 65px;
  padding:0px;
  
}

figure {
  margin-bottom: 25px;
  margin-top: auto;
  margin-right: auto;
  margin-left: 0%;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;

  margin-top: 25px;
  cursor: pointer;
}

.form-submit:hover {
  background: #4292dc;
}

#signin {
  margin-top: 16px;
}

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.register-form {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0px;
}

.form-group input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
input:focus {
  border-bottom: 1px solid #222;
}

.signin-form {
  margin-right: 90px;
  margin-left: 0px;
}

.signin-image {
  margin-left: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group label {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #222;
}

.signin-content {
  padding-top: 55px;
  padding-bottom: 70px;
  padding-left: auto;
  padding-right: auto;
}

@media screen and (max-width: 1200px) {
  .container1 {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container1 {
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    flex-direction: column;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding: 0 30px;
  }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
  }

  .signup-form,
  .signup-image,
  .signin-form,
  .signin-image {
    width: auto;
  }

  .form-button {
    text-align: center;
  }

  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }

  .form-title {
    text-align: center;
  }
  .about-info {
    margin: 40px 0;
  }
}


#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Maven Pro", sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a {
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}
